@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;   
}


.cabecalho-logo{
    height: 72px;
    width: 300px;
    text-align: center;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #fff2E7;
    font-weight: 400;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.cabecalho-menu-item:hover{
    transform: scale(1.2);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.meus-projetos-princiapl-escrito{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2E7;
}

.meus-projetos-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.conteudo-principal-imagem{
    height: 430px;
    text-align: center;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2E7;
    margin-bottom: 16px;
}

.primeiro-projeto{
    height: 430px;
    transition: 0.3s ease-in-out;
}

.primeiro-projeto:hover{
    transform: scale(1.1);
}

.subtitulo{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.terceiro-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.terceiro-conteudo-titulo{
    border-top: 0.4px solid #fff2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2E7;
    margin-bottom: 16px;
}

.conteudo-terceiro-escrito{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.Ladding-Page{
    height: 430px;
    transition: 0.3s ease-in-out;
}

.Ladding-Page:hover{
    transform: scale(1.1);
}

.quarto-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.quarto-conteudo-titulo{
    border-top: 0.4px solid #fff2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2E7;
    margin-bottom: 16px;
}

.StarBucks-Home{
    height: 430px;
    transition: 0.3s ease-in-out;
}

.StarBucks-Home:hover{
    transform: scale(1.1);
}